body{
    margin: 0;
}

#overlay{
    width: 100%;
    height: 1000px;
    background: rgba(0, 0, 0, .65) url(https://images.wallpapersden.com/image/download/airplane-minimal-gradient_a2dpbG6UmZqaraWkpJRmbmdlrWZlbWU.jpg);
    background-blend-mode: darken;
    flex: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.note{
    font-family: 'FF Mark W05', sans-serif;
    font-size: 72px;
    color: rgb(254, 254, 255);
    margin: auto;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.01em;
    line-height: 100%;
}

.input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgba(255, 255, 255, 0);
}

