body{
    margin: 0;
}

#overlay{
    width: 100%;
    height: 1000px;
    background: rgba(0, 0, 0, .65) url(https://images.wallpapersden.com/image/download/airplane-minimal-gradient_a2dpbG6UmZqaraWkpJRmbmdlrWZlbWU.jpg);
    background-blend-mode: darken;
}

.note{
    font-family: 'FF Mark W05', sans-serif;
    font-size: 72px;
    color: rgb(254, 254, 255);
    position: absolute;
    bottom: 30.474337872213077rem;
    left: 13.785335926978902rem;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.01em;
    line-height: 100%;
}




.centered{
    opacity: 1;
}

input{
    opacity: 0;
}